In [3]:
import pandas as pd
import numpy as np
ds=pd.read_csv('C:/Users/Ayush/Desktop/Assignment5.csv')
ds

     Ram  Shyam
0  Shyam  Harry
1  Harry   Lucy
2   Lucy   Shiv
3   Shiv   Shiv
4   Jake   Hana
5   Hana  Beast
6  Beast  Beast
7  Shady  Shady
8    Nox    Nox

In [5]:
for i in range(ds.Ram.count()):
    temp=[]
    temp.append(ds.Ram[i])
    for j in range(i,ds.Ram.count()): 
        if(data.Ram[j]!=ds.Shyam[j]):
            temp.append(ds.Shyam[j])
        else:
            break
    print(*temp)

Shyam Harry Lucy Shiv
Harry Lucy Shiv
Lucy Shiv
Shiv
Jake Hana Beast
Hana Beast
Beast
Shady
Nox